html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}


@media only screen and (min-width : 992px) {
	.tab-content {
		/*padding-top: 30%;*/
		padding: 2%;
	}

	#main_panel_heading {
		/*position: fixed;*/
		width: 100%;
	}
}



#map-outer
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.panel-default
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

#map, .panel-body-main
{
	height: 100%;
}
