html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.panel-body-main {
	padding-top: 7em;
	overflow-y: auto;
}

.panel-heading.my-panel {
	position: absolute;
	width: inherit;
	top: 0;
}

#panel_outer {
	padding: 0;
}

@media only screen and (min-width: 992px) {
	.tab-content {
		padding: 2%;
	}
	.panel-body-main {
		padding-top: 7em;
		overflow-y: initial;
	}
	.panel-heading.my-panel {
		position: fixed;
		width: inherit;
	}
	#panel_outer {
		padding: 0;
	}
}

#map-outer {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.panel-default {
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

#map,
.panel-body-main {
	height: 100%;
}

ul.nav.nav-tabs li {
	width: 50%;
	text-align: center;
}

#map_legend {
	padding: 0.5%;
	height: 18%;
	width: 70%;
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.4);

	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	justify-content: space-evenly;
}

#elementDiv {
	/*background-color: lightgrey;*/
	opacity: 0.7;
	height: 20%;
	width: 21%;
	display: flex;
}

#elementCir {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

#elementName {
	width: 100%;
	font-size: 0.9rem;
	padding-left: 2%;
}
.logo {
	height: 18%;
	width: auto;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
}
