html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map_outer
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#panel_outer
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

#map, .panel-body
{
	height: 100%;
}

#tab2default div:nth-child(even){
	border-bottom: 1px solid black;
}

.panel-heading {
	position: fixed;
	width: 100%;
}

.panel-body {
	padding-top: 20%;
}